# .gitignore

# Virtual environment
venv/

# Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment variables and configuration
.env

# IDE files
.idea/
.vscode/

# Logs and database
*.log
*.sqlite3

# Chroma storage
chroma_storage/

ENV_DIR

backend/user_storage/users.json